 <%- include ../partials/header.ejs %>
<link href="dist/css/machine-design.css" rel="stylesheet">

<body>
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0"><%- include ../partials/header-nav.ejs
			%> <%- include ../partials/side-nav.ejs %></nav>

		<div class="container">
			<h3>Asset <%- asset %></h3>
			<table class="table">
				<tbody>
					<tr>
						<th>Heat Transfer Rate</th>
						<th>Mean Overall Heat Transfer Coefficient</th>
						<th>Overall Fouling Resistance</th>
						<th>Total Measurement Uncertainty</th>
						<th>Heat Balance Error</th>
					</tr>
					<tr>
						<td>550 BTU/min</td>
						<td>0.991</td>
						<td>0.025</td>
						<td>254 BTU/hour</td>
						<td>98.5%</td>
					</tr>
				</tbody>
			</table>
			<div id="content">
				<div id="machine">
					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="20.563in"
						height="2.938in" class="part1_svg" id="part1_svg">
					<path fill-rule="evenodd" stroke="rgb(0, 0, 0)" stroke-width="5px"
							stroke-linecap="butt" stroke-linejoin="miter"
							fill="rgb(255, 255, 255)"
							d="M180.378,2.500 C556.380,2.500 932.383,2.500 1308.386,2.500 C1308.556,2.500 1308.737,2.501 1308.929,2.505 C1309.120,2.508 1309.323,2.513 1309.535,2.520 C1309.959,2.533 1310.424,2.553 1310.927,2.579 C1311.931,2.631 1313.083,2.708 1314.356,2.807 C1316.903,3.006 1319.934,3.296 1323.230,3.667 C1329.822,4.411 1337.484,5.490 1344.422,6.869 C1383.666,14.601 1415.519,27.424 1438.072,44.307 C1449.343,52.709 1458.282,62.040 1464.589,71.861 C1467.742,76.771 1470.237,81.800 1472.035,86.884 C1472.934,89.426 1473.659,91.982 1474.206,94.544 C1474.753,97.106 1475.122,99.674 1475.309,102.240 C1475.420,103.546 1475.483,104.848 1475.497,106.145 C1475.512,107.442 1475.478,108.734 1475.395,110.021 C1475.230,112.595 1474.872,115.149 1474.322,117.678 C1473.221,122.735 1471.351,127.694 1468.725,132.524 C1463.477,142.187 1455.197,151.335 1444.098,159.767 C1421.913,176.635 1388.430,190.631 1346.260,200.409 C1331.404,203.993 1313.814,206.482 1308.386,206.500 C932.383,206.500 556.380,206.500 180.378,206.500 C177.653,206.496 171.795,206.240 164.658,205.760 C157.526,205.278 149.114,204.553 141.383,203.542 C97.328,198.424 62.229,186.246 38.335,169.753 C26.388,161.506 17.242,152.181 11.177,142.120 C8.145,137.090 5.884,131.875 4.427,126.520 C3.699,123.843 3.173,121.130 2.852,118.387 C2.691,117.016 2.582,115.637 2.525,114.252 C2.468,112.866 2.463,111.474 2.511,110.075 C2.685,65.399 56.247,23.401 142.151,7.330 C157.269,4.307 174.952,2.527 180.378,2.500 L180.378,2.500 L180.378,2.500 L180.378,2.500 Z" />
				</svg>

					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="15.861in"
						height="2.917in" class="part2_svg" id="part2_svg">
				</svg>

					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="13.014in"
						height="2.875in" class="part3_svg" id="part3_svg">
				</svg>

					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="1.194in"
						height="1.139in" class="ss_in_part1_svg clickable"
						id="ss_in_part1_svg">
				</svg>

					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="1.132in"
						height="0.104in" class="ss_in_part2_svg clickable"
						id="ss_in_part2_svg">
				</svg>

					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="1.625in"
						height="0.264in" class="ss_in_part3_svg clickable"
						id="ss_in_part3_svg">
				</svg>

					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="1.194in"
						height="1.139in" class="ss_out_part1_svg clickable"
						id="ss_out_part1_svg">
				</svg>

					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="1.201in"
						height="0.104in" class="ss_out_part2_svg clickable"
						id="ss_out_part2_svg">
						<path fill-rule="evenodd" stroke="rgb(0, 0, 0)" stroke-width="1px"
							stroke-linecap="butt" stroke-linejoin="miter"
							fill="rgb(255, 255, 255)"
							d="M0.500,0.500 L85.500,0.500 L85.500,6.500 L0.500,6.500 L0.500,0.500 Z" />
				</svg>

					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="1.625in"
						height="0.264in" class="ss_out_part3_svg clickable"
						id="ss_out_part3_svg">
				</svg>

					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="0.653in"
						height="0.764in" class="ts_in_part1_svg clickable"
						id="ts_in_part1_svg">
						<path fill-rule="evenodd" stroke-width="2px" stroke="rgb(0, 0, 0)"
							fill="rgb(255, 255, 255)"
							d="M41.999,38.293 L19.134,50.006 L5.001,16.707 L27.866,4.994 L41.999,38.293 Z" />
					</svg>

					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="0.694in"
						height="0.417in" class="ts_in_part2_svg clickable"
						id="ts_in_part2_svg">
						<path fill-rule="evenodd" stroke="rgb(0, 0, 0)" stroke-width="2px"
							stroke-linecap="butt" stroke-linejoin="miter"
							fill="rgb(255, 255, 255)"
							d="M47.591,9.006 L5.841,27.677 L1.385,20.018 L43.135,1.347 L47.591,9.006 Z" />
					</svg>

					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="0.633in"
						height="0.573in" class="ts_out_part1_svg clickable"
						id="ts_out_part1_svg">
					<path fill-rule="evenodd" stroke-width="2px" stroke="rgb(0, 0, 0)"
							fill="rgb(255, 255, 255)"
							d="M5.838,21.431 L28.070,5.828 L54.138,38.611 L31.906,54.214 L5.838,21.431 Z" />
				</svg>

					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" width="0.597in"
						height="0.528in" class="ts_out_part2_svg clickable"
						id="ts_out_part2_svg">
					<path fill-rule="evenodd" stroke="rgb(0, 0, 0)" stroke-width="2px"
							stroke-linecap="butt" stroke-linejoin="miter"
							fill="rgb(255, 255, 255)"
							d="M0.990,27.207 L36.116,1.020 L41.001,9.823 L5.875,36.011 L0.990,27.207 Z" />
				</svg>
				</div>

				<div class="panel panel-info col-md-3" id="ts_in_info" style="">
					<div class="panel-heading">Tube Side In</div>
					<div class="panel-body">
						<a src="#" class="temperature-data" id="ts_in_temp" onclick="getData(this)"> TSI: 70F </a> <br> <a
							src="#" class="flow-data" id="ts_in_flow" onclick="getData(this)">  FSI: 100 GPM </a>
					</div>
				</div>
				<div class="panel panel-info col-md-3" id="ss_in_info" style="">
					<div class="panel-heading">Shell Side In</div>
					<div class="panel-body">
						<a src="#" class="temperature-data" id="ss_in_temp" onclick="getData(this)"> TSI: 70F</a> <br> <a
							src="#" class="flow-data" id="ss_in_flow" onclick="getData(this)">  FSI: 100 GPM </a>
					</div>
				</div>

				<div class="panel panel-info col-md-3" id="ss_out_info" style="">
					<div class="panel-heading">Shell Side Out</div>
					<div class="panel-body">
						<a src="#" class="temperature-data" id="ss_out_temp" onclick="getData(this)"> TSI: 70F </a> <br> <a
							src="#" class="flow-data" id="ss_out_flow" onclick="getData(this)">  FSI: 100 GPM </a>
					</div>
				</div>

				<div class="panel panel-info col-md-3" id="ts_out_info" style="">
					<div class="panel-heading">Tube Side Out</div>
					<div class="panel-body">
						<a src="#" class="temperature-data" id="ts_out_temp" onclick="getData(this)"> TSI: 70F</a> <br> <a
							src="#" class="flow-data" id="ts_out_flow" onclick="getData(this)">  FSI: 100 GPM </a>
					</div>
				</div>
			</div>
			<div id="showDetails" style="display:none;"> 
				<%- include ../partials/machineReadings.ejs %>
				
			</div>
			
		</div>
</body>
<%- include ../partials/scripts.ejs %>
<script src="js/d3.min.js"></script>

<script type="text/javascript">
	$(".ts_out_part1_svg path").add(".ts_out_part2_svg").on("click",
			function() {
				$("#ts_out_info").toggle();
			})

	$(".ts_in_part1_svg path").add(".ts_in_part2_svg").on("click", function() {
		$("#ts_in_info").toggle();
	})

	$(".ss_in_part1_svg").add(".ss_in_part3_svg").on("click", function() {
		$("#ss_in_info").toggle();
	})

	$(".ss_out_part1_svg").add(".ss_out_part3_svg").on("click", function() {
		$("#ss_out_info").toggle();
	})
	var result;
	function getData(ele) {
		var id = ele.id;
		
		 $.ajax({
			type : 'POST',
			url : 'http://localhost:5000/asset/detail',
			data : {
				asset : "<%- asset %>",
				tube : id
			},
			success : function(data) {
				$("#content").hide();
				$("#showDetails").show();
				$("#showDetails").append(populateTable(JSON.parse(data)));
			},
			error : function(err) {
				console.log(err);
			}
		}); 
	}

	
	function populateTable(data){
		$(".nav.nav-pills li a").removeClass("active");
		for(key in data){
			for(value in data[key]){
				$("#details #"+key.toLowerCase()+"_"+value.toLowerCase()).text(data[key][value]);
			}
		}
	}
</script>
