 <%- include ../partials/header.ejs %>
<link href="dist/css/machine-design.css" rel="stylesheet">

<body>
	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0"><%- include ../partials/header-nav.ejs
			%> <%- include ../partials/side-nav.ejs %></nav>
		<div id="page-wrapper">
			<div class="row">
				<div class="page-header col-lg-12">
					<h1 style="text-align: left; float: left;">
						<a href="javascript:window.location.reload();"> <%-
							assets[asset] %></a>
					</h1>
					<h1 id="locationHeading"
						style="text-align: left; float: left; padding-left: 4px;"></h1>
				</div>
			</div>
			<!-- /.row -->
			<div class="row">
				<table class="table table-responsive table-striped">
					<thead>
						<tr>
							<th>COLD Heat Gain(Btu/hour)</th>
							<th>HOT Heat Loss(Btu/hour)</th>
<!-- 							<th>Heat Balance Error(Btu/hour)</th> -->
							<th>Heat Balance Error(%)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= values["COLD_Heat_Gain(Btu/hr)"].toFixed(2) %></td>
							<td><%= values["HOT_Heat_Loss_(Btu/hr)"].toFixed(2) %></td>
<!-- 							<td><%= values["Heat_Balance_Error(Btu/hr)"].toFixed(2) %></td> -->
							<td><%= values["Heat_Balance_Error(%)"].toFixed(2) %></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="machine-image">
				<div class="row">
					<div id="machine">

						<svg xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
							xmlns:dc="http://purl.org/dc/elements/1.1/"
							xmlns:cc="http://creativecommons.org/ns#"
							xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
							xmlns:svg="http://www.w3.org/2000/svg"
							xmlns="http://www.w3.org/2000/svg"
							xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
							xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
							id="svg2" height="100%" width="100%" version="1.1"
							viewBox="0 0 1131 588" inkscape:version="0.91 r13725"
							preserveAspectRatio="xMinYMin meet" 
							sodipodi:docname="drawing.svg">
  <defs id="defs8">
    <inkscape:path-effect effect="spiro" id="path-effect6203"
								is_visible="true" />
    <marker inkscape:stockid="Arrow1Send" orient="auto" refY="0"
								refX="0" id="Arrow1Send" style="overflow:visible"
								inkscape:isstock="true">
      <path id="path4708" d="M 0,0 5,-5 -12.5,0 5,5 0,0 Z"
								style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1pt;stroke-opacity:1"
								transform="matrix(-0.2,0,0,-0.2,-1.2,0)"
								inkscape:connector-curvature="0" />
    </marker>
    <inkscape:path-effect effect="spiro" id="path-effect4288"
								is_visible="true" />
    <marker inkscape:stockid="Arrow1Mend" orient="auto" refY="0"
								refX="0" id="Arrow1Mend" style="overflow:visible"
								inkscape:isstock="true">
      <path id="path4487" d="M 0,0 5,-5 -12.5,0 5,5 0,0 Z"
								style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1pt;stroke-opacity:1"
								transform="matrix(-0.4,0,0,-0.4,-4,0)"
								inkscape:connector-curvature="0" />
    </marker>
    <linearGradient id="linearGradient8482" osb:paint="gradient">
      <stop style="stop-color:#ff0000;stop-opacity:1;" offset="0"
								id="stop8484" />
      <stop style="stop-color:#ff0000;stop-opacity:0;" offset="1"
								id="stop8486" />
    </linearGradient>
    <marker inkscape:isstock="true" style="overflow:visible"
								id="marker6675" refX="0" refY="0" orient="auto"
								inkscape:stockid="Arrow1Mend">
      <path transform="matrix(-0.4,0,0,-0.4,-4,0)"
								style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1pt;stroke-opacity:1"
								d="M 0,0 5,-5 -12.5,0 5,5 0,0 Z" id="path6677"
								inkscape:connector-curvature="0" />
    </marker>
    <marker inkscape:stockid="Arrow1Lend" orient="auto" refY="0"
								refX="0" id="Arrow1Lend" style="overflow:visible"
								inkscape:isstock="true">
      <path id="path4481" d="M 0,0 5,-5 -12.5,0 5,5 0,0 Z"
								style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1pt;stroke-opacity:1"
								transform="matrix(-0.8,0,0,-0.8,-10,0)"
								inkscape:connector-curvature="0" />
    </marker>
    <inkscape:path-effect effect="spiro" id="path-effect4472"
								is_visible="true" />
    <inkscape:path-effect effect="spiro" id="path-effect4299"
								is_visible="true" />
    <marker inkscape:stockid="Arrow1Lend" orient="auto" refY="0"
								refX="0" id="Arrow1Lend-9" style="overflow:visible"
								inkscape:isstock="true">
      <path inkscape:connector-curvature="0" id="path4481-4"
								d="M 0,0 5,-5 -12.5,0 5,5 0,0 Z"
								style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1pt;stroke-opacity:1"
								transform="matrix(-0.8,0,0,-0.8,-10,0)" />
    </marker>
    <inkscape:path-effect effect="spiro" id="path-effect4472-7"
								is_visible="true" />
    <marker inkscape:stockid="Arrow1Lend" orient="auto" refY="0"
								refX="0" id="Arrow1Lend-9-8" style="overflow:visible"
								inkscape:isstock="true">
      <path inkscape:connector-curvature="0" id="path4481-4-6"
								d="M 0,0 5,-5 -12.5,0 5,5 0,0 Z"
								style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1pt;stroke-opacity:1"
								transform="matrix(-0.8,0,0,-0.8,-10,0)" />
    </marker>
    <inkscape:path-effect effect="spiro" id="path-effect4472-7-9"
								is_visible="true" />
    <marker inkscape:stockid="Arrow1Lend" orient="auto" refY="0"
								refX="0" id="Arrow1Lend-9-8-3" style="overflow:visible"
								inkscape:isstock="true">
      <path inkscape:connector-curvature="0" id="path4481-4-6-5"
								d="M 0,0 5,-5 -12.5,0 5,5 0,0 Z"
								style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1pt;stroke-opacity:1"
								transform="matrix(-0.8,0,0,-0.8,-10,0)" />
    </marker>
    <inkscape:path-effect effect="spiro" id="path-effect4472-7-9-5"
								is_visible="true" />
    <marker inkscape:stockid="Arrow1Lend" orient="auto" refY="0"
								refX="0" id="Arrow1Lend-91" style="overflow:visible"
								inkscape:isstock="true">
      <path inkscape:connector-curvature="0" id="path4481-8"
								d="M 0,0 5,-5 -12.5,0 5,5 0,0 Z"
								style="fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1pt;stroke-opacity:1"
								transform="matrix(-0.8,0,0,-0.8,-10,0)" />
    </marker>
    <inkscape:path-effect effect="spiro" id="path-effect4472-77"
								is_visible="true" />
    <marker inkscape:stockid="Arrow1Mend" orient="auto" refY="0"
								refX="0" id="Arrow1Mend-2" style="overflow:visible"
								inkscape:isstock="true">
      <path id="path4487-7" d="M 0,0 5,-5 -12.5,0 5,5 0,0 Z"
								style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1pt;stroke-opacity:1"
								transform="matrix(-0.4,0,0,-0.4,-4,0)"
								inkscape:connector-curvature="0" />
    </marker>
    <inkscape:path-effect effect="spiro" id="path-effect4288-8"
								is_visible="true" />
    <marker inkscape:stockid="Arrow1Mend" orient="auto" refY="0"
								refX="0" id="Arrow1Mend-6" style="overflow:visible"
								inkscape:isstock="true">
      <path id="path4487-4" d="M 0,0 5,-5 -12.5,0 5,5 0,0 Z"
								style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1pt;stroke-opacity:1"
								transform="matrix(-0.4,0,0,-0.4,-4,0)"
								inkscape:connector-curvature="0" />
    </marker>
    <inkscape:path-effect effect="spiro" id="path-effect4288-3"
								is_visible="true" />
    <marker inkscape:stockid="Arrow1Mend" orient="auto" refY="0"
								refX="0" id="Arrow1Mend-2-9" style="overflow:visible"
								inkscape:isstock="true">
      <path id="path4487-7-5" d="M 0,0 5,-5 -12.5,0 5,5 0,0 Z"
								style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1pt;stroke-opacity:1"
								transform="matrix(-0.4,0,0,-0.4,-4,0)"
								inkscape:connector-curvature="0" />
    </marker>
    <inkscape:path-effect effect="spiro" id="path-effect4288-8-7"
								is_visible="true" />
  </defs>
  <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666"
								borderopacity="1" objecttolerance="10" gridtolerance="10"
								guidetolerance="10" inkscape:pageopacity="0"
								inkscape:pageshadow="2" inkscape:window-width="1920"
								inkscape:window-height="1017" id="namedview6" showgrid="false"
								inkscape:zoom="0.86877225" inkscape:cx="312.90632"
								inkscape:cy="290.24235" inkscape:window-x="-8"
								inkscape:window-y="-8" inkscape:window-maximized="1"
								inkscape:current-layer="svg2" fit-margin-top="0"
								fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0" />
  <metadata id="metadata7">
    <rdf:RDF>
      <cc:Work rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <path
								style="opacity:1;fill:#ff8080;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2.63368201;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
								d="M 760.13402,164.73538 A 110.25211,107.54135 0 0 0 649.88321,272.27542 110.25211,107.54135 0 0 0 760.13402,379.81887 110.25211,107.54135 0 0 0 870.38481,272.27542 110.25211,107.54135 0 0 0 760.13402,164.73538 Z"
								id="path6736" inkscape:connector-curvature="0"
								inkscape:export-xdpi="96" inkscape:export-ydpi="96" />
  <ellipse
								style="fill:#ff8080;fill-opacity:1;stroke:#000000;stroke-width:2.96064377;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
								id="path4552" cx="300.72684" cy="272.22556" rx="110.84254"
								ry="107.39747" inkscape:export-xdpi="96"
								inkscape:export-ydpi="96" />
  <rect
								style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2.66275263;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke"
								id="rect6794" width="460.83875" height="215.24281" x="300.11023"
								y="164.67094" inkscape:export-xdpi="96"
								inkscape:export-ydpi="96" />
  <rect
								style="opacity:1;fill:#3c94fa;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2.43849373;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
								id="rect4550" width="460.83875" height="215.24281" x="300.11026"
								y="164.67094" inkscape:export-xdpi="96"
								inkscape:export-ydpi="96" />
  <rect
								style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1.69084799;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:1.69084797, 5.0725439;stroke-dashoffset:0;stroke-opacity:1"
								id="rect9030" width="112.44177" height="34.384422" x="325.71664"
								y="173.1765" />
  <path
								style="opacity:0.61000001;fill:none;fill-opacity:1;stroke:none;stroke-width:0.10101525;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
								d="m 392.08685,377.82959 -89.73825,-0.11352 0,-105.34247 0,-105.34251 143.78138,-0.29623 c 79.07981,-0.16289 181.86188,-0.29629 228.40454,-0.29629 l 84.6231,-9e-5 0,105.86228 0,105.86226 -138.66622,-0.11007 c -76.26647,-0.0605 -179.04848,-0.16119 -228.40455,-0.22345 z"
								id="path6276" inkscape:connector-curvature="0"
								inkscape:export-xdpi="96" inkscape:export-ydpi="96" />
  <rect
								style="opacity:1;fill:#ff8080;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2.66874838;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
								id="rect7266" width="70.08654" height="41.581039" x="121.82496"
								y="251.14436" inkscape:export-xdpi="96"
								inkscape:export-ydpi="96" />
  <rect
								style="opacity:1;fill:#0073f9;fill-opacity:0.76470588;fill-rule:nonzero;stroke:#000000;stroke-width:2.66202402;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
								id="rect7266-48" width="66.407784" height="45.557129"
								x="97.967735" y="-403.21182" transform="matrix(0,1,-1,0,0,0)"
								inkscape:export-xdpi="96" inkscape:export-ydpi="96" />
  <rect
								style="opacity:1;fill:#3c94fa;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2.66216159;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
								id="rect7266-48-9" width="72.56012" height="50.237186"
								x="380.32413" y="-713.41644" transform="matrix(0,1,-1,0,0,0)"
								inkscape:export-xdpi="96" inkscape:export-ydpi="96" />
  <text id="text8032" y="291.73346" x="480.35315"
								style="font-style:normal;font-weight:normal;font-size:70.45199585px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.26458332"
								xml:space="preserve" inkscape:export-xdpi="96"
								inkscape:export-ydpi="96">
							<tspan style="stroke-width:0.26458332" y="291.73346"
								x="480.35315" id="tspan8030" sodipodi:role="line">HX</tspan></text>
  <rect
								style="opacity:1;fill:#ff8080;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2.66874838;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
								id="rect7266-8" width="80.903778" height="41.464703"
								x="868.49213" y="251.2867" inkscape:export-xdpi="96"
								inkscape:export-ydpi="96" ry="0" />
  <circle
								style="opacity:0.847;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#0000ff;stroke-width:2.57386971;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:2.57386963, 7.72160893;stroke-dashoffset:0;stroke-opacity:1"
								id="path4295" r="44.091545" cy="45.378479" cx="380.00494" />
  <circle
								style="opacity:0.847;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ff0000;stroke-width:2.57386971;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:2.57386963, 7.72160893;stroke-dashoffset:0;stroke-opacity:1"
								id="path4295-9-1" cy="269.04755" cx="62.494022" r="44.091545" />
  <circle
								style="opacity:0.847;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#0000ff;stroke-width:2.57386971;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:2.57386963, 7.72160893;stroke-dashoffset:0;stroke-opacity:1"
								id="path4295-9-1-4" cy="506.16003" cx="691.04883" r="44.091545" />
  <circle
								style="opacity:0.847;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ff0000;stroke-width:2.57386971;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:2.57386963, 7.72160893;stroke-dashoffset:0;stroke-opacity:1"
								id="path4295-9-1-4-7" cy="267.5625" cx="1001.1827" r="44.091545" />
  <rect
								style="opacity:1;fill:#3c94fa;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.90000004;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:0.90000004, 2.70000011;stroke-dashoffset:0;stroke-opacity:1"
								id="rect8490" width="42.866699" height="5.7966342" x="359.01175"
								y="160.98491" />
  <rect
								style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1.69084799;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:1.69084797, 5.0725439;stroke-dashoffset:0;stroke-opacity:1"
								id="rect9030-1-1" width="93.65937" height="31.729492"
								x="770.69946" y="252.6288" />
  <rect
								style="opacity:1;fill:#ff8080;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.90000004;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:0.90000004, 2.70000011;stroke-dashoffset:0;stroke-opacity:1"
								id="rect8490-0" width="17.393944" height="38.874474"
								x="181.37546" y="252.41365" />
  <rect
								style="opacity:1;fill:#3c94fa;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.90000004;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:0.90000004, 2.70000011;stroke-dashoffset:0;stroke-opacity:1"
								id="rect8490-5" width="47.570717" height="13.415985"
								x="664.53735" y="375.56067" />
  <rect
								style="opacity:1;fill:#ff8080;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:0.90000004;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:0.90000004, 2.70000011;stroke-dashoffset:0;stroke-opacity:1"
								id="rect8490-5-0" width="4.1574097" height="38.92638"
								x="866.74823" y="252.55307" />
  <rect
								style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1.69084799;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:1.69084797, 5.0725439;stroke-dashoffset:0;stroke-opacity:1"
								id="rect9030-2" width="112.44177" height="34.384422"
								x="639.1673" y="336.42224" />
  <rect
								style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:1.69084799;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:1.69084797, 5.0725439;stroke-dashoffset:0;stroke-opacity:1"
								id="rect9030-1-1-7" width="93.65937" height="31.729492"
								x="197.94223" y="253.94337" />
  							<text xml:space="preserve"
								style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
								x="489.22794" y="35.179455" id="text4220"
								sodipodi:linespacing="125%">
							<tspan sodipodi:role="line" id="tspan4222" x="530.30414"
								y="35.179455"
								style="font-size:17.50015831px;text-align:center;text-anchor:middle">Shell Inlet </tspan>
							<tspan sodipodi:role="line" x="489.22794" y="57.054653"
								style="font-size:17.50015831px;text-align:center;text-anchor:middle"
								id="tspan4284">(ID: <%= plateNames[asset]["COLD_IN"] %>)</tspan></text>
  							<text xml:space="preserve"
								style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
								x="346.44479" y="122.74821" id="text4220-5"
								sodipodi:linespacing="125%">
							<tspan sodipodi:role="line" id="tspan4222-5" x="346.44479"
								y="122.74821" style="font-size:15.00013542px" /></text>
  							<path
								style="fill:none;fill-rule:evenodd;stroke:#ffffff;stroke-width:3.1000278;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Mend)"
								d="m 379.44593,103.47996 0,55.25088" id="path4286"
								inkscape:path-effect="#path-effect4288"
								inkscape:original-d="m 379.44593,103.47996 0,55.25088"
								inkscape:connector-curvature="0" />
  							<text xml:space="preserve"
								style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
								x="67.748936" y="334.88721" id="text4220-9"
								sodipodi:linespacing="125%">
							<tspan sodipodi:role="line" x="103.748936" y="334.88721"
								style="font-size:17.50015831px;text-align:center;text-anchor:middle"
								id="tspan4284-9">Tube Outlet</tspan>
							<tspan sodipodi:role="line" x="57.748936" y="356.76239"
								style="font-size:17.50015831px;text-align:center;text-anchor:middle"
								id="tspan4379">(ID: <%= plateNames[asset]["HOT_OUT"] %>)</tspan></text>
  							<path
								style="fill:none;fill-rule:evenodd;stroke:#ffffff;stroke-width:3.1000278;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Mend-2)"
								d="m 191.10374,271.30794 -58.70406,0" id="path4286-6"
								inkscape:path-effect="#path-effect4288-8"
								inkscape:original-d="m 191.10374,271.30794 -58.70406,0"
								inkscape:connector-curvature="0" sodipodi:nodetypes="cc" />
  							<path
								style="fill:none;fill-rule:evenodd;stroke:#ffffff;stroke-width:3.1000278;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Mend-6)"
								d="m 686.98739,382.73259 0,55.25088" id="path4286-2"
								inkscape:path-effect="#path-effect4288-3"
								inkscape:original-d="m 686.98739,382.73259 0,55.25088"
								inkscape:connector-curvature="0" />
  							<text xml:space="preserve"
								style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
								x="579.9931" y="505.19406" id="text4220-99"
								sodipodi:linespacing="125%">
							<tspan sodipodi:role="line" id="tspan4222-0" x="623.9931"
								y="505.19406"
								style="font-size:17.50015831px;text-align:center;text-anchor:middle">Shell Outlet</tspan>
							<tspan sodipodi:role="line" x="579.9931" y="527.06927"
								style="font-size:17.50015831px;text-align:center;text-anchor:middle"
								id="tspan4284-8">(ID: <%= plateNames[asset]["COLD_OUT"] %>)</tspan></text>
  							<text xml:space="preserve"
								style="font-style:normal;font-weight:normal;font-size:40px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
								x="1003.3363" y="334.62448" id="text4220-9-9"
								sodipodi:linespacing="125%">
							<tspan sodipodi:role="line" x="1043.3363" y="334.62448"
								style="font-size:17.50015831px;text-align:center;text-anchor:middle"
								id="tspan4284-9-0">Tube Inlet</tspan>
							<tspan sodipodi:role="line" x="1003.3363" y="356.49966"
								style="font-size:17.50015831px;text-align:center;text-anchor:middle"
								id="tspan4379-4">(ID: <%= plateNames[asset]["HOT_IN"] %>)</tspan></text>
  							<path
								style="fill:none;fill-rule:evenodd;stroke:#ffffff;stroke-width:3.1000278;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;marker-end:url(#Arrow1Mend-2-9)"
								d="m 941.7202,270.86505 -58.70406,0" id="path4286-6-2"
								inkscape:path-effect="#path-effect4288-8-7"
								inkscape:original-d="m 941.7202,270.86505 -58.70406,0"
								inkscape:connector-curvature="0" sodipodi:nodetypes="cc" />
							<text xml:space="preserve"
								style="font-style:normal;font-weight:normal;font-size:20.50033951px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.93750846"
								x="345.03348" y="53.226425" data-type="Temperature"
								data-location="COLD_IN" onclick="getData(this)"
								class="clickable" id="text4537">
							<tspan sodipodi:role="line" id="tspan4535" x="345.03348"
								y="53.226425" style="stroke-width:0.93750846"><%= values["Ave_COLD_Inlet(F)"].toFixed(2) %>F</tspan></text>
  							<text xml:space="preserve"
								style="font-style:normal;font-weight:normal;font-size:20.50033951px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.93750846"
								x="25.1499186" y="277.56779" data-type="Temperature"
								data-location="HOT_OUT" onclick="getData(this)"
								class="clickable" id="text4541">
							<tspan sodipodi:role="line" id="tspan4539" x="25.1499186"
								y="277.56779" style="stroke-width:0.93750846"><%= values["Ave_HOT_Outlet(F)"].toFixed(2) %>F</tspan></text>
  							<text xml:space="preserve"
								style="font-style:normal;font-weight:normal;font-size:20.50033951px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.93750846"
								x="636.37885" y="446.53967" data-type="Temperature"
								data-location="COLD_OUT" onclick="getData(this)"
								class="clickable" id="text4545">
							<tspan sodipodi:role="line" id="tspan4543" x="654.37885"
								y="516.53967" style="stroke-width:0.93750846"><%= values["Ave_COLD_Outlet(F)"].toFixed(2) %>F</tspan></text>
  							<text xml:space="preserve"
								style="font-style:normal;font-weight:normal;font-size:20.50033951px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.93750846"
								x="966.68805" y="277.56779" data-type="Temperature"
								data-location="HOT_IN" onclick="getData(this)" class="clickable"
								id="text4549">
							<tspan sodipodi:role="line" id="tspan4547" x="966.68805"
								y="277.56779" style="stroke-width:0.93750846"><%= values["Ave_HOT_Inlet(F)"].toFixed(2) %>F</tspan></text>
  							<text xml:space="preserve"
								style="font-style:normal;font-weight:normal;font-size:20.50033951px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.93750846"
								x="171.68002" y="249.51559" data-type="FlowMeter"
								data-location="HOT_FLOW_IN" onclick="getData(this)"
								class="clickable" id="text4553">
							<tspan sodipodi:role="line" id="tspan4551" x="198.68002"
								y="277.51559"
								style="font-size:17.00027084px;stroke-width:0.93750846"><%=values["HOT_Flow(gpm)"].toFixed(2) %>GPM</tspan></text>
  							<text xml:space="preserve"
								style="font-style:normal;font-weight:normal;font-size:20.50033951px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.93750846"
								x="330.82059" y="198.21036" data-type="FlowMeter"
								data-location="COLD_FLOW_IN" onclick="getData(this)"
								class="clickable" id="text4557">
							<tspan sodipodi:role="line" id="tspan4555" x="330.82059"
								y="198.21036"
								style="font-size:17.00027084px;stroke-width:0.93750846"><%=values["COLD_Flow(gpm)"].toFixed(2) %>GPM</tspan></text>
 						 	<text xml:space="preserve"
								style="font-style:normal;font-weight:normal;font-size:20.50033951px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.93750846"
								x="595.16998" y="332.21436" data-type="FlowMeter"
								data-location="COLD_FLOW_IN" onclick="getData(this)"
								class="clickable" id="text4561">
							<tspan sodipodi:role="line" id="tspan4559" x="645.16998"
								y="357.21436"
								style="font-size:17.00027084px;stroke-width:0.93750846"><%=values["COLD_Flow(gpm)"].toFixed(2) %>GPM</tspan></text>
  							<text xml:space="preserve"
								style="font-style:normal;font-weight:normal;font-size:20.50033951px;line-height:1.25;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:0.93750846"
								x="725.49536" y="244.75253" data-type="FlowMeter"
								data-location="HOT_FLOW_IN" onclick="getData(this)"
								class="clickable" id="text4565">
							<tspan sodipodi:role="line" id="tspan4563" x="775.49536"
								y="274.75253"
								style="font-size:16.00027084px;stroke-width:0.93750846"><%=values["HOT_Flow(gpm)"].toFixed(2) %>GPM</tspan></text>
</svg>
					</div>
				</div>
			</div>
			<div id="showDetails" style="display: none;"><%- include
				../partials/machineReadings.ejs %></div>
			<!-- /#page-wrapper -->
		</div>
	</div>
</body>

<head>
	<%- include ../partials/scripts.ejs %>
	<script src="js/sensor-map.js" type="text/javascript"></script>
	
	<script type="text/javascript">
		 window.getData = function(element, timer) {
			var parameter = element.getAttribute("data-type");
			var location = element.getAttribute("data-location");
			 $.ajax({
				type : 'POST',
				url : '/asset/detail',
				data : {
					asset : "<%- asset %>",
					parameter : parameter,
					location : location,
					timer: timer
				},
				success : function(data) {
					$("#machine-image").hide();
					$("#showDetails").show();
					$("#locationHeading").text(setHeading(location));
					$("#showDetails").append(populateTable(JSON.parse(data), element, parameter));
					buildPlot(data);
				},
				error : function(err) {
			          if(err.status == 440)
			        	  document.location.reload(true);
			          console.log(err);
				}
			});
		}
	
		function populateTable(data,element,parameter){
			var latestValues = data[0];
			var calculatedValues = data[1];
			$(".nav.nav-pills li a").removeClass("active");
			var keys = Object.keys(calculatedValues);
			var table = $("#details table");
			table.data("showing",element.id);
			table.text("");
			var unit = (parameter == "Temperature") ? "F" : "GPM";
			var tableStructure = "";
			tableStructure = tableStructure + "<thead><tr> <th> "+parameter+" Sensor ID </th>";
			keys.map(function(key){ tableStructure = tableStructure+"<th>"+key+"</th>"; });
			tableStructure = tableStructure + "</tr></thead>";
			tableStructure = tableStructure + '<tbody><tr  id="LatestValue"> <td> Latest Value ('+unit+') </td></tr>'
											+ '<tr id="Max"> <td> Maximum ('+unit+')</tr>'
											+ '<tr id="Min"> <td> Minimum ('+unit+') </td> </tr>'
											+ '<tr id="Mean"> <td> Mean ('+unit+') </td></tr>'
										//	+ '<tr id="Uncertainity"> <td> Measurement Uncertainity(GPM) </td></tr>'
											+ '<tr id="Std"> <td> Standard Deviation ('+unit+') </td></tr>'
											//+ '<tr id="Stability"> <td> Stability(GPM/min) </td></tr></tbody>';
			table.append(tableStructure);
			for(key of keys){
				var values = calculatedValues[key];				
				table.find("tr#LatestValue td").last().after("<td data-tooltip="+ new Date(data[3]*1000).toTimeString() +" >" + latestValues[key].toFixed(3) + "</td>");
				table.find("tr#Max td").last().after("<td data-tooltip="+ findTimeStamp(data[2],key, values["Max"]) +">" + values["Max"].toFixed(3) + "</td>");
				table.find("tr#Min td").last().after("<td data-tooltip="+ findTimeStamp(data[2],key, values["Min"]) +">" + values["Min"].toFixed(3) + "</td>");
				table.find("tr#Mean td").last().after("<td>" + values["Mean"].toFixed(3) + "</td>");
				//table.find("tr#Uncertainity td").last().after("<td>" + values["Uncertainity"].toFixed(3) + "</td>");
				table.find("tr#Std td").last().after("<td>" + values["Std"].toFixed(3) + "</td>");
				//table.find("tr#Stability td").last().after("<td>" + values["Stability"].toFixed(3) + "</td>");
			}
		}
		
		function findTimeStamp(rawData, key, value){
			var resObj;
			rawData.forEach(function(obj){
				var k = Object.keys(obj)[0];
				if(k != key) return;
				resObj =	$.grep(obj[k], function(v){
					return (v.Value == value) ? v.EpochTimeStamp : false;
				});
			});
			return new Date(resObj[0].EpochTimeStamp*1000).toTimeString();
		}
		
		function setHeading(text){
			var str = "  > ";
			if(text.includes("HOT"))
				str = str + "HOT SIDE ";
			else
				str = str + "COLD SIDE ";
			
			if(!text.includes("FLOW")){
				if(text.includes("IN"))
					str = str + "IN ";
				else
					str = str + "OUT ";
			}
			
			if(text.includes("FLOW"))
				str = str + ": FLOW";
			else
				str = str + ": TEMPERATURE";
			return str;
		}
	
		function buildPlot(data) {
			data = JSON.parse(data);
			var latestVals = data[0];
			var calculatedVals = data[1];
			var rawValues = data[2];
			var latestTimeStamp = data[3];
	
			var devices = Object.keys(latestVals);		
			var assets = {};
			for (i in devices) {
				assets[devices[i]] = devices[i];
			}		
			var domain = setMinMaxforAssetGraph(calculatedVals, latestTimeStamp);
			var startTime = new Date(domain.X.min*1000);
			var endTime = new Date(domain.X.max*1000);
			var minutes = (endTime - startTime)/(1000*60);
			var m = minutes % 60, h = (minutes-m)/60;
			$("#date-range").html("Data from "+ startTime.toLocaleString() + " to "+ endTime.toLocaleString() + ". Interval: "+ h + " hours "+ m +" minutes");
			$('#downloadAsCSV').on('click', function(e) {
				downloadCSV(rawValues);
			});
			drawLineGraph(d3.select("#assetPlotDiv"), rawValues, assets, domain, "Value");
			drawSensorMap(latestVals);	
		}
	
		setInterval(function(){
			   console.log("refreshing");
			   var table = $("#details table");
			   var element = document.getElementById(table.data("showing"));
			   if(element == null)
				   return document.location.reload(true);
			   getData(element, 0.25);
			}, 1 * 60 * 1000);
	</script>
</head>
