 <%- include ../partials/header.ejs %>
<body>

	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0"><%- include ../partials/header-nav.ejs
			%> <%- include ../partials/side-nav.ejs %></nav>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Dashboard</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			<div class="row"><%- include ../partials/dashboard-panels.ejs %></div>
			<div class="row">
				<hr>
				<div><%- include ../partials/chart.ejs %></div>
			</div>
			<div class="row" >
				<div id="dashboard-instant-data-div"><%- include ../partials/dashboard-instant-data.ejs %></div>
			</div>
			<!-- /#page-wrapper -->
		</div>
	</div>
	<!-- /#wrapper -->
</body>
<%- include ../partials/scripts.ejs %>
<script type="text/javascript">
	$( document ).ready(function() {
		var refreshIntervalId =	setInterval(function(){
	//	getLiveData();
    getInstData();
	},10 * 1000);

	 function getLiveData(){
		$.ajax({
			type: 'POST',
            url: 'http://localhost:5000/live',
            success: function(data) {
                updateGraph(data);
                console.log(data);
            },
            error: function(err){
            	clearInterval(refreshIntervalId);
            	console.log("Error in ajax");
				//alert("Live streaming stopped");
            }

        });
	} })

function getInstData(){
  $.ajax({
        type: 'POST',
        url:  'http://localhost:5000/instData',
        success:function(data) {
            //  console.log(data);
            // $.get('dashboard-instant-data.ejs', function(template) {
            //    console.log(template);
            //     var html = ejs.render(template, {instData: data});
            //     console.log(html);
                 //$('#dashboard-instant-data-div').html(html);
          ///       document.getElementById('dashboard-instant-data-div').innerHTML = html;

          //   });
            //  new EJS({url: 'dashboard-instant-data.ejs'}).update('dashboard-instant-data-div',{instData: data});
              var data1 =	['mop', 'broom', 'duster']
              var template = new EJS({
              text: `
                <ul>
                  <% for(var i = 0; i < the_list.length; i++) { %>
                    <li> <%= the_list[i] %></li>
                  <% } %>
                </ul>
              `
            });

            var html = template.render({ the_list: data1 });

            console.log(html);

        },
        error: function(err){
          clearInterval(refreshIntervalId);
          console.log("Error in ajax");
        }
  })
}


	</script>

</html>
