 <%- include ../partials/header.ejs %>
 <%- include ../partials/scripts.ejs %>
<body>

	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0"><%- include ../partials/header-nav.ejs
			%> <%- include ../partials/side-nav.ejs %></nav>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Dashboard</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="alert alert-info" role="alert"><%- messages() %></div>
			</div>
			<div class="row"><%- include ../partials/dashboard-panels.ejs %></div>
			<div class="row">
				<hr>
				<div><%- include ../partials/dashboard-graph.ejs %></div>
			</div>
			<div class="row" >
				<div id="dashboard-instant-data-div"><%- include ../partials/dashboard-instant-data.ejs %></div>
			</div>
			<!-- /#page-wrapper -->
		</div>
	</div>
	<!-- /#wrapper -->
</body>
<script type="text/javascript">
	$( document ).ready(function() {
		var refreshIntervalId =	setInterval(function(){
		getLiveData();
    	getInstData();
	},1 * 60 * 1000);  // refresh every 1 minute

	 function getLiveData(){
		$.ajax({
			type: 'POST',
            url: '/getHBEdata',
            success: function(data) {
                var mainParameter = <%- JSON.stringify(mainParameter) %>;
                var data = JSON.parse(data);
                var domain = getDomainForDashboardGraph(data.data,mainParameter);
                drawLineGraph(d3.select("#dashboard-line-chart-div"),data.data, data.assets,domain, mainParameter);
            },
            error: function(err){
                if(err.status == 440)
              	  document.location.reload(true);
            	clearInterval(refreshIntervalId);
            	console.log("Error in ajax"); // "Live streaming stopped
            }

        });		
	} })

function getInstData(){
  $.ajax({
        type: 'POST',
        url:  '/instData',
        success:function(data) {
            $.get('dashboard-instant-data.ejs',function(template){

              var instData = JSON.parse(data);
              var html = ejs.render(template, {instData:instData});
              $('#dashboard-instant-data-div').html(html);
            });
        },
        error: function(err){
          if(err.status == 440)
        	  document.location.reload(true);
          clearInterval(refreshIntervalId);
          console.log("Error in ajax");
        }
  })
}
	function toggleAlert(){
	    var text = $("#messages").text();
	    if(text.length <= 0)
	    	$('div[role="alert"]').hide();
	    else
	    	$('div[role="alert"]').show();
	}
	toggleAlert();
</script>

</html>
