 <%- include ../partials/header.ejs %>
<body>

	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0"><%- include ../partials/header-nav.ejs
			%> <%- include ../partials/side-nav.ejs %></nav>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Dashboard</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

			<div class="row"><%- include ../partials/dashboard-panels.ejs %></div>
			<div class="row">
				<hr>
				<div><%- include ../partials/chart.ejs %></div>
			</div>
			<div class="row" >
				<div id="dashboard-instant-data-div"><%- include ../partials/dashboard-instant-data.ejs %></div>
			</div>
			<!-- /#page-wrapper -->
		</div>
	</div>
	<!-- /#wrapper -->
</body>
<%- include ../partials/scripts.ejs %>
<script type="text/javascript">
	$( document ).ready(function() {
		var refreshIntervalId =	setInterval(function(){
		getLiveData();
    getInstData();
	},10 * 1000);

	 function getLiveData(){
		$.ajax({
			type: 'POST',
            url: 'http://localhost:5000/live',
            success: function(data) {
                //drawDashBoardGraph(data);
                updateGraph(data);
                //console.log(data);
            },
            error: function(err){
            	clearInterval(refreshIntervalId);
            	console.log("Error in ajax");
				//alert("Live streaming stopped");
            }

        });
	} })

function getInstData(){
  $.ajax({
        type: 'POST',
        url:  'http://localhost:5000/instData',
        success:function(data) {
            $.get('dashboard-instant-data.ejs',function(template){

              var instData = JSON.parse(data);
              var html = ejs.render(template, {instData:instData});
              $('#dashboard-instant-data-div').html(html);
            });
        },
        error: function(err){
          clearInterval(refreshIntervalId);
          console.log("Error in ajax");
        }
  })
}


	</script>

</html>
