<%- include ../partials/header.ejs %> <%- include
../partials/scripts.ejs %>
<body>

	<div id="wrapper">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0"><%- include ../partials/header-nav.ejs
			%> <%- include ../partials/side-nav.ejs %></nav>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Asset Management</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<div class="row col-md-offset-6">
				<a href='#' id="add-asset" class="btn btn-success" data-toggle="modal" data-target="#editAsset"
					style="margin: 10px;">Add Asset</a>
			</div>
			<div class="row">
				<div class="col-md-7">
					<table class="table table-hover">
						<thead style="background-color: #bce8f1;">
							<tr>
								<th>#</th>
								<th>Asset ID</th>
								<th>Display Name</th>
								<th style="width: 36px;"></th>
								<th style="width: 36px;"></th>
								<th style="width: 36px;"></th>
							</tr>
						</thead>
						<tbody>
							<% Object.keys(devicedetails).forEach(function(key,i){ %>
							<tr>
								<td><%= i+1 %></td>
								<td><%= key %></td>
								<td data-key="<%= key %>" data-value="<%= assets[key] %>">
									<%= assets[key] %></td>
								<td><a href='#' class="btn btn-info view-asset"
									data-toggle="modal" data-target="#myModal" data-key="<%= key%>">View</a></td>

								<td><a href='#' class="btn btn-info edit-asset" data-toggle="modal" data-target="#editAsset"
									data-key="<%= key%>">Edit</a></td>

								<td><a href='<%= "/asset/delete?key="+key %>'
									class="btn btn-danger delete-asset"
									onclick="return confirm('Are you sure?');">Delete</a></td>
							</tr>
							<% }); %>
						</tbody>
					</table>
				</div>
				<div class="col-md-5">
					<!-- <form id="assets-manage-form" action="/asset/manage" method="post"
						role="form" style="display: none;">
						<div class="panel panel-info">
							<div id="asset-form-heading" class="panel-heading"></div>
							<div class="panel-body">
								<div class="form-group row">
									<div class="col-md-4">
										<label>Asset ID</label>
									</div>
									<div class="col-md-8">
										<input type="text" id="assetid" name="assetid">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4">
										<label>Display Name</label>
									</div>
									<div class="col-md-8">
										<input type="text" id="display-name" name="display-name">
									</div>
								</div>
								<div class="row text-center">
									<button type="button" class="btn btn-success"
										onclick="addRow()">Add Probe</button>
								</div>
								<div class="form-group row">
									<div class="col-md-12" id="devices">
										<table class="table table-striped table-hover">
											<thead>
												<td>DeviceID</td>
												<td>Type</td>
												<td>Location</td>
												<td>Location Display</td>
												<td>Unit</td>
												<td>Orientation</td>
												<td> </td>
											</thead>
											<tbody></tbody>
										</table>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-3 col-md-offset-5">
										<input type="submit" tabindex="4" id="submit"
											class="form-control btn btn-primary" value="Submit">
									</div>
								</div>
							</div>
					</form> -->
				</div>
			</div>
			<!-- /#page-wrapper -->

			<!-- modal start -->
			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog manage-asset-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Modal Header</h4>
						</div>
						<div class="modal-body"></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>
			<!-- modal ends -->
			<!-- modal start -->
			<div id="editAsset" class="modal fade" role="dialog">
				<div class="modal-dialog manage-asset-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Modal Header</h4>
						</div>
						<div class="modal-body"><form id="assets-manage-form" action="/asset/manage" method="post"
						role="form" style="display: none;">
						<div class="panel panel-info">
							<div id="asset-form-heading" class="panel-heading"></div>
							<div class="panel-body">
								<div class="form-group row">
									<div class="col-md-4">
										<label>Asset ID</label>
									</div>
									<div class="col-md-8">
										<input type="text" id="assetid" name="assetid">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4">
										<label>Display Name</label>
									</div>
									<div class="col-md-8">
										<input type="text" id="display-name" name="display-name">
									</div>
								</div>
								<div class="row text-center">
									<button type="button" class="btn btn-success"
										onclick="addRow()">Add Probe</button>
								</div>
								<div class="form-group row">
									<div class="col-md-12" id="devices">
										<table class="table table-striped table-hover">
											<thead>
												<td>DeviceID</td>
												<td>Type</td>
												<td>Location</td>
												<td>Location Display</td>
												<td>Unit</td>
												<td>Orientation</td>
												<td> </td>
											</thead>
											<tbody></tbody>
										</table>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-3 col-md-offset-5">
										<input type="submit" tabindex="4" id="submit"
											class="form-control btn btn-primary" value="Submit">
									</div>
								</div>
							</div>
					</form></div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>
			<!-- modal ends -->
		</div>
	</div>
	<!-- /#wrapper -->

	<script type="text/javascript">
	var devices = <%-  JSON.stringify(devicedetails) %>;

		$("#add-asset").click(function() {
		//	$("form#assets-manage-form #devices").text("");
			$("form#assets-manage-form #asset-form-heading").text("Add Asset");
			$("form#assets-manage-form #assetid").val("");
			$("form#assets-manage-form #assetid").prop("readonly", false);
			$("form#assets-manage-form #display-name").val("");
			$("form#assets-manage-form #devices tbody").text("");
			$('form#assets-manage-form').attr('action', '/asset/add');
			$("form#assets-manage-form").show();
		});

		 $(".edit-asset").click(
				function(c) {
					$("form#assets-manage-form #devices tbody").text("");
					var key = c.target.getAttribute("data-key");
					if (key) {
						var val = $('td[data-key="' + key + '"]').attr("data-value");
						var values = devices[key];						
						for(i=0;i<values.length;i++){			
							var html = '';
							html += '<tr><td><input type="text" size=6 value="'+ values[i].DeviceID +'" readonly></td>';
							html += '<td><select type="text" name="'+values[i].DeviceID+'-Type" onchange="populateOtherOptions(this)">';
							if(values[i].Type == "Temperature")
								html += '<option value="Temperature" selected>Temperature</option>';
							else
								html += '<option value="Temperature">Temperature</option>';	
							if(values[i].Type == "FlowMeter")
								html += '<option value="FlowMeter" selected>FlowMeter</option>';
							else
								html += '<option value="FlowMeter">FlowMeter</option>';	
							'</select></td>';
							html += '<td><select type="text" name="'+values[i].DeviceID+'-Location"></select></td>';
							html += '<td><select type="text" name="'+values[i].DeviceID+'-Location_Display"></select></td>';
							html += '<td><select type="text" name="'+values[i].DeviceID+'-Unit"></select></td>';
							html += '<td><select type="text" name="'+values[i].DeviceID+'-Orientation"></select></td>';
							var methodCall = "if(confirm('Are you sure?')) deleteRowFromDb(this);";
							html += '<td><a href="#" onclick="'+methodCall+'" name="'+values[i].DeviceID+'" data-type="'+values[i].Type+'"> <span class="glyphicon glyphicon-remove"></span></a></td></tr>';						
							$("form#assets-manage-form #devices tbody").append(html);
							populateOtherOptions(document.getElementsByName(values[i].DeviceID+"-Type")[0],values[i] );
						}	
						$("form#assets-manage-form #asset-form-heading").text("Edit Asset");
						$("form#assets-manage-form #assetid").val(key);
						$("form#assets-manage-form #assetid").prop("readonly", true);
						$("form#assets-manage-form #display-name").val(val);		
						$('form#assets-manage-form').attr('action', '/asset/manage');						
						$("form#assets-manage-form").show();	
					}
				});

		$(".view-asset").click(
				function(c) {
					$("#myModal div.modal-body").html("");				
					var key = c.target.getAttribute("data-key");
					var values = devices[key];
					var html = '<table class="table table-striped table-hover">';
					html += '<thead style="font-size:larger"> <td>  DeviceID </td> <td>  Type </td> <td>  Location </td> <td>  Location Display </td> ';
					html += '<td>  Unit </td> <td>  Orientation </td></thead><tbody>';
					for(i=0;i<values.length;i++){						
						html += " <tr><td>"+ values[i].DeviceID +"</td>";
						html += "<td>"+ values[i].Type +"</td>";
						html += "<td>"+ values[i].Location +"</td>";
						html += "<td>"+ values[i].Location_Display +"</td>";
						html += "<td>"+ values[i].Unit +"</td>";
						html += "<td>"+ values[i].Orientation +"</td></tr>";						
					}	
					html += "</tbody></table>";
					$("#myModal h4.modal-title").text(key+": Devices Details");
					$("#myModal div.modal-body").html(html);					
				});
		var OptionsList = {
				"Temperature" : 
		    				[{ "Location" : ["COLD_IN" ,"HOT_IN","COLD_OUT","HOT_OUT","AMBIENT"]  },
							{ "LocationDisplay" : ["SW Inlet" ,"RHR Inlet","SW Outlet","RHR Outlet","Ambient"] },
							{ "Unit" : ["F" ,"C"] },
							{ "Orientation" : ["","0" ,"90","180","270"] }],
	    		"FlowMeter" : 
		    				[{ "Location" : ["HOT_FLOW_IN","COLD_FLOW_IN"]  },
							{ "LocationDisplay" : ["RHR Flow","SW Flow"]  },
							{ "Unit" : ["GPM"]  },
							{ "Orientation" : ["0" ,"90","180","270"] }]
			};

		var index = 1;
		function addRow(){
			var html = "";
			html += '<tr><td><input type="text" name="new-'+index+'-DeviceID" size=6></td>';
			html += '<td><select name="new-'+index+'-Type" class="type" onchange="populateOtherOptions(this)"><option value="">--select--</option>'+
					'<option value="Temperature">Temperature</option>'+
					'<option value="FlowMeter">FlowMeter</option>'+
					'</select></td>';
			html += '<td><select name="new-'+index+'-Location" class="location"></select></td>';
			html += '<td><select name="new-'+index+'-Location_Display" class="locationDisplay"></select></td>';
			html += '<td><select name="new-'+index+'-Unit" class="unit"></select></td>';
			html += '<td><select name="new-'+index+'-Orientation" class="orientation"></select></td>';						
			html += '<td><a href="#" onclick="deleteRow(this);"> <span class="glyphicon glyphicon-remove"></span></a></td></tr>';		
			index++;
			$("#devices tbody").append(html);
		}
		
		function deleteRow(e){
			var row = e.parentElement.parentElement;
			row.parentNode.removeChild(row);
		}
		
		function deleteRowFromDb(e){
			var device = e.name;
			var type = e.dataset.type;
			$.ajax({
				type: 'POST',
	            url: '/device/delete',
	            data: {'deviceid': device, "type": type},
	            success: function(data) {
	            	location.reload();
	            },
	            error: function(err){
	                alert("Delete Item failed");
	            }
	        });
		}
		
		function populateOtherOptions(e, values = null){
			
			var type = e.value;
			var row = e.name.split("-Type")[0];
			var locationElement = $('select[name="'+row+'-Location"]');
			var locationDisplayElement = $('select[name="'+row+'-Location_Display"]');
			var unitElement = $('select[name="'+row+'-Unit"]');
			var orientationElement = $('select[name="'+row+'-Orientation"]');	
			
			locationElement.find('option').remove();
			locationDisplayElement.find('option').remove();
			unitElement.find('option').remove();
			orientationElement.find('option').remove();
		    for (var i = 0; i < OptionsList[type][0]["Location"].length; i++){
		    		locationElement.append("<option value='" + OptionsList[type][0]["Location"][i] + "'>" +  OptionsList[type][0]["Location"][i] + "</option>");
			}		   
		    for (var i = 0; i < OptionsList[type][1]["LocationDisplay"].length; i++){
		    		locationDisplayElement.append("<option value='" + OptionsList[type][1]["LocationDisplay"][i] + "'>" +  OptionsList[type][1]["LocationDisplay"][i] + "</option>");
			}		    
		    for (var i = 0; i < OptionsList[type][2]["Unit"].length; i++){	
				unitElement.append("<option value='" + OptionsList[type][2]["Unit"][i] + "'>" +  OptionsList[type][2]["Unit"][i] + "</option>");
			}		   
		    for (var i = 0; i < OptionsList[type][3]["Orientation"].length; i++){	
				orientationElement.append("<option value='" + OptionsList[type][3]["Orientation"][i] + "'>" +  OptionsList[type][3]["Orientation"][i] + "</option>");
			}
		    if(values){
		    	 locationElement.val(values.Location);
		    	 locationDisplayElement.val(values.Location_Display);
		    	 unitElement.val(values.Unit);
		    	 orientationElement.val(values.Orientation);
		    }
		}			
		
	</script>