
<!-- <h2 class="chart-heading"><%= JSON.stringify(mainParameter).replace(/"/g, "") %></h2> -->
<!-- <div style='position: relative;'> -->
<!-- <div class="row col-md-8 svg-container" id="dashboard-line-chart-div"> </div> -->
<table class="table table-responsive table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Status</th>
							<th>Devices Connected</th>
							<th>Time Stamp</th>
						</tr>
					</thead>
					<tbody>
						<% for(asset in assets){ %>
							<tr> 
								<td><%= assets[asset] %></td> 
								<td style="color: green; font-weight: bold;">OK</td> 
								<td><%= devicesCount[asset] %></td> 
								<td data-assetid="<%= asset %>"><%= new Date(assetTimeStamps[asset]*1000).toLocaleDateString() %> <%= new Date(assetTimeStamps[asset]*1000).toLocaleTimeString() %> </td> 
							</tr> 
						<% } %>
					</tbody>
				</table>

<style>
.xaxis text, .yaxis text {
	color: black;
	font-size: 150%;
}

path.line {
	width: 600px;
	height: 351px;
	overflow: hidden;
}

.sideLegend text {
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}


</style>

<script>
	var data = <%- JSON.stringify(data) %>;
	var assets = <%- JSON.stringify(assets) %>;
	var mainParameter = <%- JSON.stringify(mainParameter) %>;
	//var domain = getDomainForDashboardGraph(data,mainParameter); 
	//drawLineGraph(d3.select("#dashboard-line-chart-div"), data, assets, domain,
		//	mainParameter);
</script>
